# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyB...
VITE_FIREBASE_AUTH_DOMAIN=gyaan-forum-peer-to-peer.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gyaan-forum-peer-to-peer
VITE_FIREBASE_STORAGE_BUCKET=gyaan-forum-peer-to-peer.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=841775765955
VITE_FIREBASE_APP_ID=1:841775765955:web:7530932f91361c9498a449
VITE_FIREBASE_MEASUREMENT_ID=G-S09Y8N6X8K
