# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyAHTgHHaEIHDGPOSX-kxlqUQIELscuAFik
VITE_FIREBASE_AUTH_DOMAIN=gyaan0.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gyaan0
VITE_FIREBASE_STORAGE_BUCKET=gyaan0.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=908381200684
VITE_FIREBASE_APP_ID=1:908381200684:web:1c42d2538a469809898c89
VITE_FIREBASE_MEASUREMENT_ID=G-NONE
